.center{
text-align: center;
}
.centerForm { 
    width: 400px;
    height: 64px;
    position: relative;
}
.sizeCustomButton{
height:150px;
}
.size150 {
 padding:150px;
}
.purpleGradient{
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FA08C6),
	color-stop(1, #5B24FF)
);
background-image: -o-linear-gradient(bottom, #FA08C6 0%, #5B24FF 100%);
background-image: -moz-linear-gradient(bottom, #FA08C6 0%, #5B24FF 100%);
background-image: -webkit-linear-gradient(bottom, #FA08C6 0%, #5B24FF 100%);
background-image: -ms-linear-gradient(bottom, #FA08C6 0%, #5B24FF 100%);
background-image: linear-gradient(to bottom, #FA08C6 0%, #5B24FF 100%);
}
.redBlueGradient{
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FB0713),
	color-stop(1, #21E5FF)
);
background-image: -o-linear-gradient(bottom, #FB0713 0%, #21E5FF 100%);
background-image: -moz-linear-gradient(bottom, #FB0713 0%, #21E5FF 100%);
background-image: -webkit-linear-gradient(bottom, #FB0713 0%, #21E5FF 100%);
background-image: -ms-linear-gradient(bottom, #FB0713 0%, #21E5FF 100%);
background-image: linear-gradient(to bottom, #FB0713 0%, #21E5FF 100%);
}
.largeButton{
width: 150px;
height: 300px; 
}
.blackColour{
color:#000000;
}
.greenBack{
background-color:#b0c4de;
}
.top-buffer { margin-top:20px;}
#expandBrowse{
	display:none;
	}
#expandUpload{
	display:none;
	}
#expandUpload{
	display:none;
	}
#expandCreate{
	display:none;
	}
#expandRank{
	display:none;
}
